@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
  margin:0;
  font: 600 18px 'Source Sans Pro', sans-serif;
  letter-spacing: 0.64px;
  color: #000000;
}
.topnav {
  background-color:#6c63ff;
  color:#ffffff;
  overflow: hidden;
  padding:0px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #ff7b7b;
  color: white;
}

/* ######## */

/* Form Layout */

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group-1{
  flex: initial;
  display: flex;
  flex-direction: column;
}
.form-group-2{
  flex: 2;
  display: flex;
  flex-direction: column;
}
.form-group-3{
  flex: 3;
  display: flex;
  flex-direction: column;
}
.form-group-4{
  flex: 4;
  display: flex;
  flex-direction: column;
}

input {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buttons */
button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button.btn-primary {
  background-color: #6c63ff;
  color: #fff;
}

button.btn-secondary {
  background-color: #ccc;
  color: #000;
}

button:hover {
  opacity: 0.9;
}

/* Back Link */
.back-link {
  display: block;
  margin-top: 20px;
  color: #6c63ff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

/* Style Select Dropdowns */
select {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  width: 95%;
  box-sizing: border-box;
  background-color: #fff; /* Match input background */
  appearance: none; /* Removes the default dropdown arrow (optional) */
}

select:focus {
  outline: none;
  border-color: #6c63ff; /* Highlight border color on focus */
}

/* Align Submit Button */
.form-actions {
  text-align: right; /* Align content to the right */
}

button.btn-primary {
  margin-right: 10px; /* Remove any left margin */
}

/* Hide the extra=1 fields*/
.hidden-form {
  display: none;
}

/* For the family detail template */
.form-control {
  border: 1px solid #ccc;
  padding: 8px;
  width: auto;
  border-radius: 4px;
  background-color: #f9f9f9;
}