{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'sdata/styles.css' %}">
        <title>{% block title %}SolidariData{% endblock %}</title>
    </head>
    <body>
        <!--<div class="topnav">
            <a href="{% url 'home' %}" class="active">TELA INICIAL</a>
            <a href="{% url 'family_list' %}">FAMÍLIAS</a>
            <a href="{% url 'events' %}">EVENTOS</a>
            <a href="{% url 'institutions' %}">INSTITUIÇÕES</a>
        </div>-->
        <div class="topnav">
    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">TELA INICIAL</a>
    <a href="{% url 'family_list' %}" class="{% if request.resolver_match.url_name == 'family_list' or request.resolver_match.url_name == 'family_create' or request.resolver_match.url_name == 'family_update' or request.resolver_match.url_name == 'family_detail' or request.resolver_match.url_name == 'family_delete'  %}active{% endif %}">FAMÍLIAS</a>
    <a href="{% url 'events' %}" class="{% if request.resolver_match.url_name == 'events' %}active{% endif %}">EVENTOS</a>
    <a href="{% url 'institutions' %}" class="{% if request.resolver_match.url_name == 'institutions' %}active{% endif %}">INSTITUIÇÕES</a>
</div>

        {% block content %}
        {% endblock %}
    </body>