{% extends "sdata/base.html" %}
{% block content %}

<h1>Lista de Famílias Cadastradas</h1>
<button type="button" class="btn-primary" onclick="window.location.href='{% url 'family_create' %}'">
    Cadastrar nova família
</button>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome do representante</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for family in families %}
        <tr>
            <td class="center">{{ family.family_id }}</td>
            <td>{{ family.family_representative_name }}</td>
            <td class="center">
                <button type="button" class="btn-secondary" onclick="window.location.href='{% url 'family_detail' family.pk %}'">
                    Detalhar
                </button>
                <button type="button" class="btn-primary" onclick="window.location.href='{% url 'family_update' family.pk %}'">
                    Editar
                </button>
                <button type="button" class="btn-danger" onclick="window.location.href='{% url 'family_delete' family.pk %}'">
                    Excluir
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}