{% extends "sdata/base.html" %}
{% block content %}

<h1>Detalhes da Família</h1>

<!-- Family Form -->
<fieldset>
    <legend>Representante da Família</legend>
    <div class="form-row">
        <div class="form-group">
            <label for="family_representative_name">Nome:</label>
            <input type="text" id="family_representative_name" name="family_representative_name" 
                   value="{{ family.family_representative_name }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="family_representative_gender">Gênero:</label>
            <input type="text" id="family_representative_gender" name="family_representative_gender" 
                   value="{{ family.family_representative_gender }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="family_representative_birthdate">Data de nascimento:</label>
            <input type="text" id="family_representative_birthdate" name="family_representative_birthdate" 
                   value="{{ family.family_representative_birthdate }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="family_representative_id">CPF:</label>
            <input type="text" id="family_representative_id" name="family_representative_id" 
                   value="{{ family.family_representative_id }}" readonly class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group-2">
            <label for="family_address_street">Rua:</label>
            <input type="text" id="family_address_street" name="family_address_street" 
                   value="{{ family.family_address_street }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="family_address_number">Número:</label>
            <input type="text" id="family_address_number" name="family_address_number" 
                   value="{{ family.family_address_number }}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="family_address_neighborhood">Bairro:</label>
            <input type="text" id="family_address_neighborhood" name="family_address_neighborhood" 
                   value="{{ family.family_address_neighborhood }}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="family_address_city">Cidade:</label>
            <input type="text" id="family_address_city" name="family_address_city" 
                   value="{{ family.family_address_city }}" readonly class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group-1">
            <label for="family_address_state">Estado:</label>
            <input type="text" id="family_address_state" name="family_address_state" 
                   value="{{ family.get_family_address_state_display }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="family_address_zipcode">CEP:</label>
            <input type="text" id="family_address_zipcode" name="family_address_zipcode" 
                   value="{{ family.family_address_zipcode }}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="family_address_complement">Complemento:</label>
            <input type="text" id="family_address_complement" name="family_address_complement" 
                   value="{{ family.family_address_complement }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="family_phone">Telefone:</label>
            <input type="text" id="family_phone" name="family_phone" 
                   value="{{ family.family_phone }}" readonly class="form-control">
        </div> 
    </div>
    <div class="form-group">
        <label for="family_note">Observações:</label>
        <textarea id="family_note" name="family_note" readonly class="form-control">{{ family.family_note }}</textarea>
    </div>
</fieldset>

<!-- Family members -->
<fieldset>
    <legend>Familiares</legend>
    {% for relative in family.relatives.all %}
    <div class="form-row">
        <div class="form-group">
            <label for="relative_name">Nome:</label>
            <input type="text" value="{{ relative.relative_name }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="relative_gender">Gênero:</label>
            <input type="text" id="relative_gender" name="relative_gender" 
                   value="{{ relative.relative_gender }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="relative_name">Data de nascimento:</label>
            <input type="text" value="{{ relative.relative_birthdate }}" readonly class="form-control">
        </div>
        <div class="form-group-1">
            <label for="relative_name">Grau de parentesco:</label>
            <input type="text" value="{{ relative.relative_relationship }}" readonly class="form-control">
        </div>
    </div>
    {% empty %}
    <p style="color: gray;">Nenhum familiar cadastrado.</p>
    {% endfor %}
</fieldset>

<!-- Additional Data -->
<fieldset>
    <legend>Sistema</legend>
    <div class="form-row">
        <div class="form-row">
            <div class="form-group">
                <label>Código:</label>
                <input type="text" id="family_id" name="family_id" 
                    value="{{ family.family_id }}" readonly class="form-control">
            </div>
            <div class="form-group">
                <label>Cadastrado em:</label>
                <input type="text" id="family_created" name="family_created" 
                    value="{{ family.family_created }}" readonly class="form-control">
            </div>
            <div class="form-group">
                <label>Modificado em:</label>
                <input type="text" id="family_updated" name="family_updated" 
                    value="{{ family.family_updated }}" readonly class="form-control">
            </div>
        </div>
    </div>
</fieldset>

<!-- Form actions -->
<div class="form-actions">
    <div class="button">
        <button type="button" class="btn-secondary" onclick="window.location.href='{% url 'family_list' %}'">
            Voltar
        </button>
        <button type="button" class="btn-primary" onclick="window.location.href='{% url 'family_update' family.pk %}'">
            Editar
        </button>
        <button type="button" class="btn-danger" onclick="window.location.href='{% url 'family_delete' family.pk %}'">
            Excluir
        </button>
        
    </div>
</div>

{% endblock %}